{{define "header"}}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/site.webmanifest">
</head>

<body>

    <header class="text-gray-600 body-font">
        <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">
            <a class="flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0" href="/">
                <img class="" viewBox="0 0 24 24" src="/public/img/logo/logo.png" alt="prmeet">
            </a>
            <nav
                class="flex flex-wrap items-center justify-center text-base md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400">
                <a class="mr-5 hover:text-gray-900" href="/">Home</a>

            </nav>


            {{if .user}}
            <span>{{.user.email}}</span>
            <a class="" href="/users/logout">
                <button
                    class="inline-flex items-center px-3 py-1 mt-4 text-base bg-gray-100 border-0 rounded focus:outline-none hover:bg-gray-200 md:mt-0">Logout
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </button>
            </a>

            {{else}}
            <a class="" href="/users/login">
                <button
                    class="inline-flex items-center px-3 py-1 mt-4 text-base bg-gray-100 border-0 rounded focus:outline-none hover:bg-gray-200 md:mt-0">Login
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </button>
            </a>
            {{end}}

        </div>
    </header>

    {{if .err}}
    {{template "warnings" .err}}
    {{end}}


    {{if .success}}
    {{template "success" .success}}
    {{end}}


    {{end}}